body #ms_button{
    border-radius: 999px;
    border: none;
    font-size: 14px;
}

.ms_bckgrey{
    background-color:#363636 ;
}

.ms_bckorange{
    background-color: #CD3D0F;
}

header{
    background-color: black;
}

body header nav{
    position: fixed;
}

.sony-logo{
    max-width: 80px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 13px;
}

#my_play{
    font-size: 13px;
}

.lens{
    width: 18px;
    
}

#jumbo .container-fluid{
    min-height: 500px;
    background-position: center;
    background-size: cover;
}

#jumbo .container-fluid{
    background-image: url("img/jumbo-bg.png");
}

.returnal-logo{
    width: 200px;
}