img{
    width: 100%;
    height: 100%;
}

.ms_bckgrey{
    background-color:#363636 ;
}

.ms_bckorange{
    background-color: #CD3D0F;
}

.ms_blue{
    background-color: #6DAEE3;
}

header{
    display: contents;
}

body header nav{
    position: sticky;
}

.sony-logo{
    max-width: 80px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 13px;
}

#my_play{
    font-size: 13px;
}

.lens{
    width: 18px;
    
}

/*SECTION1*/

#jumbo .container-fluid{
    min-height: 500px;
    background-position: center;
    background-size: cover;
}

#jumbo .container-fluid{
    background-image: url("img/jumbo-bg.png");
}

.returnal-logo{
    width: 200px;
}

/*SECTION2*/


body main #games-cards .row div img{
    border-radius: 10px;
    column-gap: 20px;   
}

#ms_cards{
    border: 4px solid trasparent;
}

#ms_cards:hover{
    border: solid blue;
    box-shadow: inset 0 0 2px white;
    outline: 4px solid white;
    outline-offset: -7px;
}

#ms_cards.active, #ms_cards:hover{
    transform: translateY(-20px);
}

/*SECTION3*/


#play-5 .container p:first-child{
    color: #6DAEE3;
    font-size: 13px;
}

#play-5 .container p:last-child{
    color: #727272;
}

.play-5{
    max-height: 400px;
}

.play-5 img{
    object-fit: cover;
}